.section {
  @include respond(larger) {
    padding: 2rem 0;
  }

  @include respond(smaller) {
    padding: 1rem 0;
  }

  padding: 3rem 0;

  &--lg {
    @include respond(larger) {
      padding: 3rem 0;
    }

    @include respond(smaller) {
      padding: 2rem 0;
    }

    padding-bottom: 5rem;
  }
}
