@mixin font-family($keyword) {
  font-family: get-font-family($keyword);
}

@mixin font-size($keyword) {
  font-size: get-font-size($keyword);
}

@mixin font-weight($keyword) {
  font-weight: get-font-weight($keyword);
}

@mixin respond($breakpoint) {
  // default will be extra large monitors

  @if get-break-point($breakpoint) {
    @media only screen and (max-width: get-break-point($breakpoint)) {
      @content;
    }
  }
}
