$colors: (
  black: #000,
  light: rgba(2, 29, 68, 0.1),
  lighter: rgba(255, 255, 255, 0.1),
  light-blue: #235aa6,
  orange: #f6871f,
  primary: #021d44,
  red: #ff3e55,
  white: #fff
);

$font-families: (
  ubuntu: 'Ubuntu',
  playfair: 'PlayfairDisplay'
);

$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700
);

$font-sizes: (
  xx-small: 9px,
  x-small: 12px,
  small: 14px,
  regular-sm: 16px,
  regular: 18px,
  medium: 20px,
  large: 30px,
  x-large: 35px
);

$break-points: (
  // small devices
    smallest: 320px,
  // large mobile phones
    smaller: 480px,
  // small tabs or phablets
    small: 600px,
  // tabs and ipads
    medium: 768px,
  // large tabs / large ipads / small laptops
    large: 990px,
  // laptops / desktops
    larger: 1200px,
  // large devices
    largest: 1440px
);
