.button {
  @include respond(smaller) {
    padding: 6px 15px;
  }
  position: relative;
  display: inline-block;
  border: 0;
  padding: 12px 20px;
  background-color: color(red);
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  text-transform: capitalize;
  color: color(white) !important;
  transition: color 0.3s;
  transition-property: color, background-color, transform;

  &:active,
  &:focus {
    outline: 0;
  }

  &:hover {
    .button-mask {
      &::before,
      &::after {
        transform: translateX(200%);
      }

      &::before {
        transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
      }

      &::after {
        transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1);
      }
    }

    .button-icon {
      transform: translateX(7px);
    }
  }

  &-block {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-right: 30px;
    overflow: hidden;
    // sass-lint:disable no-transition-all
    transition: all 0.2s ease;
  }

  &-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    content: '';

    &::after,
    &::before {
      position: absolute;

      top: 0;
      left: 0;
      height: 100%;
      transform: translateX(-110%);
      content: '';
      -webkit-transform: translateX(-110%);
      will-change: transform;
    }

    &::before {
      z-index: 1;
      width: 100%;
      background: linear-gradient(270deg, color(light-blue), color(primary));
      background-color: color(primary);
      transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
    }

    &::after {
      z-index: 2;
      width: 80%;
      background: linear-gradient(270deg, color(light-blue), color(primary));
      background-color: color(primary);
      transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
    }
  }

  &-text {
    @include respond(smaller) {
      @include font-size(regular-sm);
      line-height: normal;
      letter-spacing: 0;
    }

    @include font-weight(medium);
    @include font-size(medium);
    z-index: 10;
    position: relative;
  }

  &-icon {
    @include respond(smaller) {
      top: 8px;
    }

    position: absolute;
    top: 14px;
    right: -20px;
    width: 35px;
    transform: translateX(0);
    transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);

    i {
      @include font-size(medium);
      color: color(white);
    }
  }

  &__secondary {
    @include respond(smaller) {
      padding: 6px 0;
    }
    padding: 12px 0;
    background-color: transparent;
    color: color(primary) !important;

    &:hover {
      .button-text {
        color: #649ef4;
      }
    }

    .button-icon {
      right: -40px;

      i {
        color: color(primary);
      }
    }
  }
}
