.navigation {
  .nav {
    &-item {
      &.active .nav-link {
        color: color(red) !important;
      }

      &:hover .nav-link {
        color: color(red) !important;
      }

      &:last-child {
        &:hover .nav-link {
          color: inherit !important;
        }
      }
    }

    &-link {
      @include font-weight(medium);
      @include font-size(medium);
      padding: 0 1rem !important;
      cursor: pointer;
      color: color(white) !important;
    }

    &bar {
      @include respond(medium) {
        padding: 0.5rem;
      }

      &-toggler {
        @include font-size(large);
        border: 0 !important;
        padding-right: 0;
        color: color(white);

        &:active,
        &:focus,
        &:hover {
          outline: none !important;
          border: 0 !important;
        }
      }
    }
  }

  .avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: color(white);

    img {
      border-radius: 50%;
      padding: 5px;
    }

    @include respond(smaller) {
      width: 60px;
      height: 60px;
    }
  }

  .theme-switch {
    @include respond(medium) {
      display: none;
    }

    display: block;
  }

  .mobile {
    &-icons {
      @include respond(medium) {
        display: flex;
        align-items: center;
      }

      display: none;
    }

    &-theme-switch {
      @include font-size(large);
      margin-right: 1rem;
    }
  }
}
