.project {
  @include respond(medium) {
    width: 100%;
  }
  margin-right: auto;
  margin-left: 0;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
  width: 95%;
  background-color: color(white);
  color: color(black);

  &-image {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__right {
    margin-right: 0;
    margin-left: auto;
  }

  .text-block {
    @include respond(smaller) {
      padding: 1.5rem;
    }

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem;
    padding-right: calc(3rem - 30px);
    width: 100%;
    height: 100%;
  }

  &-title {
    @include respond(largest) {
      @include font-size(medium);
    }

    @include respond(smaller) {
      font-size: 16px;
    }

    @include font-weight(bold);
    text-transform: capitalize;
    line-height: normal;
    letter-spacing: 0;
    font-size: 26px;
  }

  &-category {
    @include respond(largest) {
      @include font-size(x-small);
    }

    @include font-size(small);
    @include font-weight(regular);
    margin: 1.2rem 0;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 1.13px;
  }

  &-description {
    @include respond(largest) {
      @include font-size(small);
      line-height: 30px;
    }

    @include respond(smaller) {
      line-height: 33px;
    }

    @include font-size(regular);
    @include font-weight(regular);
    line-height: 33px;
    letter-spacing: 0;
    color: rgba(color(black), 0.8);
  }
}
